* {
  margin: 0;
  font-family: var(--Family);
  font-weight: var(--Weights);
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  margin: 0;
  background-image: url("./assets/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

input {
  outline: none;
}

.shortener__container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.shortener__input--container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 260px;
}

.shortener__form--url,
.shortener__form--button {
  width: 100%;
  height: 44px;
  margin-bottom: 1rem;
  border: none;
  outline-color: #353f52;
}

.shortener__form--url {
  background-color: #353f52;
  border-radius: 0.4rem;
  color: #dee0f5;
  padding-left: 10px;
}

.shortener__form--url::placeholder {
  position: relative;
  border-radius: 0.4rem;
  color: #dee0f5;
  outline-width: 0.1px;
}

.shortener__form--button {
  color: white;
  background-color: #0350ec;
  border-radius: 0.4rem;
}

.shortener__form--button:hover {
  background-color: #5139ff;
}
