@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  font-family: var(--Family);
  font-weight: var(--Weights);
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  overflow-y: hidden;
}


input {
  outline: none;
}


ul {
  margin-right: 1rem;
}

li {
  margin-left: 1rem;
  margin-top: 1rem;
}

.shortener__form--url::placeholder {
  position: relative;
  border-radius: 0.4rem;
  color: #dee0f5;
  outline-width: 0.1px;
}

.shortener__form--button:hover {
  background-color: #5139ff;
}

.dashboard__links-container:hover .dashboard__tooltip {
  visibility: visible;
}

/* Si no tienes un archivo de estilos, puedes añadir estos estilos directamente en tu archivo HTML con el tag <style> */

.dashboard__tooltip-container {
  position: relative;
  display: inline-block;
}

.dashboard__tooltip {
  visibility: hidden;
  width: max-content;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -75px; 
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 12px;
}

.dashboard__tooltip-container:hover .dashboard__tooltip {
  visibility: visible;
  opacity: 1;
}


